.calls-block
  margin-bottom: 87px
  +tablet-down
    margin-bottom: 60px

  .container
    padding: 0 124px 0 141px
    +laptop-down
      padding: 0

  .content
    width: 80%
    margin: 0 auto
    padding: 50px 100px 23px
    text-align: center
    +tablet-down
      width: 100%
      padding: 40px 50px 30px 30px
    background:
      image: url("../images/content/bg_calls-block.jpg")
      size: cover
      repeat: no-repeat
    opacity: 0.99

  h3.title
    margin-bottom: 25px
    line-height: 1.3
    +tablet-down
      font-size: 14px
      line-height: 24px
      letter-spacing: 1px
  h4.title
    color: #ffffff
    +tablet-down
      font-size: 12px

  .calls-info
    margin-bottom: 17px
    padding: 0 46px
    +tablet-down
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

  .phone-num
    width: 240px
    height: 49px
    //padding: 15px 25px
    border-radius: 25px
    border-width: 0
    text-align: center
    margin-right: 29px
    +tablet-down
      margin-right: 0
      margin-bottom: 15px

  .phone-btn
    background: #1d1c2e
    width: 211px
    height: 49px
    //padding: 15px 25px
    border-radius: 25px
    color: #ffffff
    +tablet-down
      width: 100%
      max-width: 240px

  .whatsapp
    margin-top: 16px
    display: inline-block
    +bg-image(35px, 35px, transparent, "../images/icons/whatsapp.png", cover)