.cooperative
  font-size: 18px
  line-height: 1.67
  margin-bottom: 80px

  .container
    padding-left: 107px

  .descr
    padding-right: 15px
    display: flex
    flex-direction: column
    //justify-content: center
    padding-top: 98px

  .title
    margin-bottom: 30px

  .image-wrapper
    width: 552px
    height: 426px
    margin: 0 -15px

    img
      width: 100%
      height: 100%