.footer
  background: $blueblack
  padding: 62px 0 40px
  color: #ffffff
  font-size: 14px
  text-align: center
  +laptop-down
    font-size: 12px

  .footer-title
    padding: 0px 25%
    margin-bottom: 86px

  .title
    color: #ffffff
    line-height: 1.6

  .subtitle
    font-size: 16px

  .contacts
    text-align: left
    padding: 0 8px
    line-height: 1.6
    margin-bottom: 61px


  .img-wrapper
    width: 100%
    min-height: 241px
    overflow: hidden
    border-radius: 5px

    img
      width: 100%
      height: 100%

  .map-wrapper
    margin-top: 25px

  .note
    text-align: left
    padding: 0 8px

#map
  width: 470px
  height: 240px


