.footer
  background: $blueblack
  padding: 70px 0 40px
  color: #ffffff
  font-size: 14px
  text-align: center

  .footer-title
    padding: 0px 28%
    margin-bottom: 95px

  .title
    color: #ffffff

  .contacts
    text-align: left

  .font-size16
    font-size: 16px
    line-height: 2

  .font-size18
    font-size: 18px
    line-height: 1.5

  .callUs
    margin-bottom: 10px
    &:before
      +bg-image(20px, 20px, transparent, "../images/icons/call.svg", contain)

  .mode
    &:before
      +bg-image(20px, 20px, transparent, "../images/icons/clock.svg", contain)

  .office-address span
    &:before
      +bg-image(20px, 20px, transparent, "../images/icons/pin.svg", contain)

  .email-info span
    &:before
      +bg-image(20px, 20px, transparent, "../images/icons/email.svg", contain)

  .phoneNums
    margin-bottom: 20px

  .mode, .askQuestions
    margin-bottom: 25px

  .socials
    .social-item
      display: inline-block
      width: 36px
      height: 36px
      border-radius: 50%
      background:
        color: transparent
        repeat: no-repeat
        size: contain
      margin-right: 7px

      &.whatsapp
        background-image: url("../images/icons/whatsapp.png")
        border-radius: 0px

      &.telegram
        background-image: url("../images/icons/tg.png")

      &:last-child
        margin-right: 0

  .our-socials .socials
    .social-item
      background-color: $lightbrown_2

  .before-item
    position: relative
    &:before
      content: ''
      display: inline-block
      position: absolute
      left: -30px
      top: 5px

  .img-wrapper
    width: 100%
    min-height: 241px
    overflow: hidden
    border-radius: 5px

    img
      width: 100%
      height: 100%

  .map-wrapper
    margin-top: 25px

#map
  width: 470px
  height: 240px
































