.header
  font-family: $font-Roboto-Light
  color: #ffffff
  margin-bottom: 120px

.logo
  width: 175px
  height: 150px
  //background: $logo_bg
  border-bottom-right-radius: 14px
  background: rgb(87,67,64)
  background: linear-gradient(90deg, rgba(87,67,64,1) 0%, rgba(88,68,64,1) 51%, rgba(87,68,63,1) 100%)
  position: relative
  font-size: 24px
  line-height: 1.13
  //color: #ffffff
  font-family: $font-UniNeueBook
  text-align: left
  padding: 16px 40px
  &:before
    content: ''
    display: inline-block
    width: 0
    height: 0px
    border-top: 25px solid $logo_bg
    border-right: 165px solid transparent
    border-bottom-left-radius: 14px
    position: absolute
    bottom: -25px
    left: 0

  span
    display: inline-block
    margin-bottom: 8px
    &:last-child
      margin-left: 15px

  .big-text
    color: #f2a704
    font-size: 60px
    line-height: 27px
    font-family: $font-UniNeueBlack

.logo-descr
  font-size: 14px
  line-height: 1.36

  color: $lightgrey
  width: 175px
  padding-top: 30px
  margin-left: 20px

.col--right
  padding-top: 14px
  align-items: flex-start

.contact_wrapper
  //font-family: $font-Roboto-Light
  text-align: right
  margin-right: 10px

  p
    font-size: 14px
    line-height: 1.4
    color: #999999
  .our_phone
    font-family: $font-HistoryPro-Two
    font-size: 20px
    line-height: 1.35
    position: relative
    //color: #ffffff
    &:before
      content: ''
      display: inline-block
      width: 17px
      height: 20px
      position: absolute
      top: 5px
      left: -17px
      background-image: url("../images/icons/phone.svg")
      background-color: #0f6674


  .callBack
    color: $lightbrown_1
    cursor: pointer
    font-size: 14px
    line-height: 2
    text-decoration: underline
    font-family: $font-Roboto-Regular

.menu_wrapper
  padding: 10px 10px 12px
  border: 1px solid #9a9a9a
  cursor: pointer

  .menu-title
    font-size: 16px
    line-height: 1.69
    margin-bottom: 0

  .menu-icon
    display: inline-block
    width: 100%
    height: 3px
    position: relative
    background: $menu_brown
    text-align: right

    &:before, &:after
      content: ''
      display: inline-block
      width: 100%
      height: 3px
      background: $menu_brown
      position: absolute
      top: -9px
      right: 0

    &:after
      top: 9px
      background: $menu_brown
      width: 70%


































