.hero
  width: 100%
  min-height: 100vh
  background:
    image: url("../images/content/bg_hero.jpg")
    //color: #4c4c4c
    //size: contain
    //repeat: no-repeat
    //position: center

  h1.title
    color: #ffffff