.portfolio
  padding-top: 80px
  .container
    padding-left: 70px
    padding-right: 70px
  h3.title
    line-height: 1.6
    margin-bottom: 80px
    padding: 0px 150px
    text-align: center
  h2.title
    margin-bottom: 20px

  .text
    font-size: 14px
    margin-bottom: 62px

  .link
    color: #00aeff

  .portfolio-bl
    h4.title
      margin-bottom: 13px

  &-img
    width: 100%
    height: auto
    margin-bottom: 40px
    img
      width: 100%
      height: auto
  &-img-wrap
    display: flex
    flex-direction: column
    align-items: center

.calls-block
  &--portf
    .content
      background-image: none
      background-color: $lightgrey_1
      color: #020201
    .title
      color: #020201
    .our_phone
      color: #4a4845
    .text
      color: #0aae41
      &.font-history
        color: #020201

    .phone-num
      color: #5a596c
    .phone-btn
      color: #1d1c2e
      background-color: #ffc087
      box-shadow: 0px 4px 14px 0px rgba(220,147,80,1)

.portfolio-wrapper
  background: #ffffff
  width: 80%
  margin: 5vh auto 10vh
  padding-bottom: 10px
  +laptop-down
    width: 90%