.our-works
  color: #525252
  //font-size: 18px
  line-height: 1.5
  margin-bottom: 30px

  .section-title
    margin-bottom: 70px
  .title
    margin-bottom: 20px
    font-size: 30px
    line-height: 1

  .subtitle
    max-width: 75%

  .note
    font-size: 14px
    line-height: 1.57

  .works
    .row
      max-height: 336px
      margin-bottom: 30px

    .image-wrapper
      position: relative

      .image-caption
        position: absolute
        text-transform: uppercase
        color: #ffffff
        font-family: $font-HistoryPro-Two
        font-size: 20px
        line-height: 1.5
        z-index: 10
        width: 60%
        left: 40px
        bottom: 10px

        &--large
          width: 75%

        &--small
          width: 25%

      &.top-left
        .image-caption
          bottom: unset
          top: 20px

      &.bottom-right
        .image-caption
          left: unset
          right: 20px

.about-works
  //display: flex
  margin: 0 auto
  text-align: center
  text-transform: uppercase
  line-height: 1.5

  .about-works-text-20px
    font-size: 20px

  .about-works-text-40px
    font-size: 40px

  .about-works-text-18px
    font-size: 18px

  .about-works-text-14px
    font-size: 14px
    text-transform: none