.our-works
  color: #525252
  //font-size: 18px
  line-height: 1.5
  margin-bottom: 33px

  .container
    padding: 0 23px 0 37px

  .section-title
    margin-bottom: 70px
  .title
    margin-bottom: 14px
    font-size: 30px
    line-height: 1

  .subtitle
    max-width: 75%

  .note
    font-size: 14px
    line-height: 1.57
    position: relative
    &:before
      content: ''
      display: inline-block
      +bg-image(18px, 22px, transparent, "../images/icons/bookmark.svg", cover)
      position: absolute
      left: -29px
      top: 2px

  .works
    margin-bottom: 32px
    .row
      max-height: 336px
      margin-bottom: 36px
      &:last-child
        margin-bottom: 0

    .image-wrapper
      position: relative

      .image-caption
        position: absolute
        text-transform: uppercase
        color: #ffffff
        font-family: $font-HistoryPro-Two
        font-size: 20px
        line-height: 1.5
        z-index: 10
        width: 60%
        left: 50px
        bottom: 10px

        &--large
          width: 75%

        &--small
          width: 25%

      &.top-left
        .image-caption
          bottom: unset
          top: 12px
          left: 42px

      &.bottom-right
        .image-caption
          left: unset
          right: 10px

.about-works
  color: #1d1c2e
  //display: flex
  margin: 0 auto
  text-align: center
  text-transform: uppercase
  font-family: $font-Roboto-Regular
  line-height: 1.5

  .about-works-text-23px
    font-size: 23px

  .about-works-text-50px
    font-size: 50px
    line-height: 1

  .about-works-text-24px
    font-size: 24px

  .about-works-text-17px
    font-size: 17px
    line-height: 1
    text-transform: none