*
	&:focus, &:active
		outline: none !important

html
	//overflow: hidden
	font-size: $fontSize_body

body
	font:
		family: $font-Roboto-Light
		size: 1rem
		weight: 400
	color: $black
	line-height: $lineHeight_body
	min-width: $phone-width-min
	margin: 0
	padding: 0
	height: 100vh
	background-color: $body_bg
	+phone-down
		font-size: $fontSize_body_mob

h1, h2, h3, h4, p, ul
	margin: 0px
	padding: 0px

h1
	font-size: $fontSize_h1
	line-height: $lineHeight_h1
	font-weight: normal
	+phone-down
    	font-size: 26px

h2
	font-size: $fontSize_h2
	line-height: $lineHeight_h2
	+phone-down
		font-size: $fontSize_h2_mob
		line-height: $lineHeight_h2_mob

h3
	font-size: $fontSize_h3
	line-height: $lineHeight_h3

h4
	font-size: $fontSize_h4
	line-height: $lineHeight_h4


.container
	//background-color: red
	+laptop
		max-width: 1230px
		padding-left: 30px
		padding-right: 30px
		//background-color: aqua
	+phone-down
		padding-left: 10px
		padding-right: 10px

.row
	+phone-down
		margin-left: -10px
		margin-right: -10px

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto
	+phone-down
		padding-right: 10px
		padding-left: 10px

.title
	color: $black
	font-family: $font-HistoryPro-Two

h1.title, h2.title
	text-transform: uppercase

.btn
	position: relative
	&:hover
		color: inherit

.bg-grey
	background-color: $lightgrey_1

.text-underline
	text-decoration: underline

.br-brown
	border-color: $lightbrown_1

.fs-20
  font-size: 20px

.italic
  font-family: $font-Roboto-LightItalic


.phrase
	padding-left: 50px
	letter-spacing: 1px
	font-family: $font-Roboto-LightItalic
	position: relative
	+phone-down
		padding-left: 30px

	&:before
		content: ''
		position: absolute
		top: 0px
		left: 5px
		+bg-image(30px, 25px, transparent, "../images/icons/right-quote.svg", contain)
		+tablet-down
			top: 3px
			width: 24px
			height: 20px

.text-brown
	color: $lightbrown_3

.font-history
	font-family: $font-HistoryPro-Two

.footnote
	font-family: $font-Roboto-LightItalic
	font-size: 14px
	line-height: 1.6
	border-top: 1px solid $lightgrey_2
	width: 80%
	padding: 30px 35px 0
	position: relative
	&:before
		content: ''
		display: inline-block
		+bg-image(18px, 24px, transparent, "../images/icons/bookmark.svg", cover)
		position: absolute
		left: 0
		top: 27px