//general font
$fontSize_body: 16px
$fontSize_body_mob: 14px
$lineHeight_body: 24px

//general color
$body_bg: #FFFFFF
$black: #29201b
$black2: #292c3b
$lightgrey: #d4d4d4
$lightgrey_2: #d2d2d2
$grey: #bdbdbd
$lightgrey_1: #f1e9e3

$salmon: #f2bb9c
$yellow: #ffc000
$blueblack: #1b1a2a //footer bg
$blueblack2: #161b2f //header-menu bg
$orange: #f17040

$logo_bg: #574340

$lightbrown_1: #d9b876
$lightbrown_2: #e8c689
$lightbrown_3: #edb799
$menu_brown: #d7b782

$font-HistoryPro-Two: 'HistoryPro-Two', 'Times New Roman', serif
$font-Roboto-Regular: 'Roboto-Regular', Arial, sans-serif
$font-Roboto-Bold: 'Roboto-Bold', Arial, sans-serif
$font-Roboto-Light: 'Roboto-Light', Arial, sans-serif
$font-Roboto-LightItalic: 'Roboto-LightItalic', Arial, sans-serif
$font-UniNeueBook: 'UniNeueBook', Arial, sans-serif
$font-UniNeueBlack: 'UniNeueBlack', Arial, sans-serif

//h1, h2
$fontSize_h1: 30px
$lineHeight_h1: 1.5
$fontSize_h1_mob: 18px
$lineHeight_h1_mob: 1.7

$fontSize_h2: 25px
$lineHeight_h2: 1.4
$fontSize_h2_mob: 18px
$lineHeight_h2_mob: 1.7

$fontSize_h3: 20px
$lineHeight_h3: 1.5

$fontSize_h4: 16px
$lineHeight_h4: 1.875

$bgText_h: 180px
$bgText_h_laptop: 150px
$bgText_h_tablet: 100px

$address_item_w: 40%
$address_itemic_w: 80px